<div>
  <div class="container">
    <div class="columns description">
      <div class="column">
        <h1 class="title is-3">Pixel Art Generator</h1>
        <p>Here you can convert images to pixel arts.</p>
        <p>Input is schematic or schem file. Output is blank txt file.</p>
      </div>
      <div class="column" style="float: right; text-align: right">
        <p>Image Size: {{imageWidth}}x{{imageHeight}}</p>
        <p>
          Required Blocks to Build:
          ~{{imagePixelAmount.toLocaleString("en-us")}}
        </p>
      </div>
    </div>
    <div class="main">
      <div class="columns">
        <div class="column">
          <b-field class="file is-primary has-name">
            <b-upload v-model="inputFile" class="file-label" accept=".jpg, .jpeg, .jfif, .png">
              <span class="file-cta">
                <b-icon class="file-icon" icon="upload"></b-icon>
                <span class="file-label">Input</span>
              </span>
              <span class="file-name">{{ inputFile?.name ? inputFile?.name : "Please Pick a Image"}}</span>
            </b-upload>
          </b-field>
        </div>
        <div class="column">
          <b-field class="file is-primary has-name">
            <b-upload v-model="outputFile" class="file-label" accept=".txt">
              <span class="file-cta">
                <b-icon class="file-icon" icon="download"></b-icon>
                <span class="file-label">Output</span>
              </span>
              <span class="file-name">
                {{ outputFile?.name ? outputFile?.name : "Please Pick a TXT File"}}
              </span>
            </b-upload>
          </b-field>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <b-field v-model="ditheringFactor" label="Dithering" label-position="on-border">
            <b-select value="5">
              <option value="-1" disabled>AUTO (Soon)</option>
              <option value="0">No dithering</option>
              <option :value="n" v-for="n in 10" :key="n">
                Dither every {{n}} pixel
              </option>
            </b-select>
          </b-field>
        </div>
        <div class="column">
          <b-field label="Scale Factor" label-position="on-border">
            <b-numberinput v-model="scaleFactor" min="0.01" max="8" step="0.01" value="1" expanded controls-position="compact" :exponential="0.75"></b-numberinput>
          </b-field>
        </div>
      </div>
    </div>
    <div class="controls">
      <div class="controls-container">
        <b-progress show-value v-model="state.progress" :max="state.progressMax">
          {{state.progress}}/{{state.progressMax}}
        </b-progress>
        <div class="columns is-vcentered">
          <div class="column is-three-fifths">
            <b-button type="is-primary" expanded :loading="this.state.running" :disabled="!(this.inputFile?.name && this.outputFile?.name)" @click="start()">Start</b-button>
          </div>
          <div class="column">
            <b-button type="is-static" expanded>{{state.stateText}}</b-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>