<div>
  <div class="container">
    <div class="main">
      <section>
        <h1 class="title">General</h1>
        <div class="options">
          <div class="is-vcentered">
            <b-field>
              <b-switch v-model="config.desktopNotifications">
                Desktop Notifications
              </b-switch>
            </b-field>
          </div>
        </div>
      </section>
      <hr>
      <section>
        <h1 class="title">Pixel Art Generator</h1>
        <div class="options">
          <b-field class="file is-primary has-name" style="transform: scale(0.9); transform-origin: left center;">
            <b-upload v-model="colorMapFile" class="file-label" accept=".json">
              <span class="file-cta">
                <b-icon class="file-icon" icon="upload"></b-icon>
                <span class="file-label">Color Map</span>
              </span>
              <span class="file-name">
                {{ colorMapFile?.name ? colorMapFile?.name : "Pick a color map."}}
              </span>
            </b-upload>
          </b-field>
        </div>
      </section>
      <hr>
      <section>
        <h1 class="title">Advanced</h1>
        <div class="options">
          <b-field label="Appender Limit" message="How often results will be written to the file. (Higher numbers cause more ram usage, but generators runs faster.)">
            <b-numberinput placeholder="2048" style="width: 50%;" v-model="config.appenderLimit" max="8192" controls-position="compact" :exponential="0.25"></b-numberinput>
          </b-field>
        </div>
      </section>
      <hr>
      <section>
        <b-button type="is-primary is-light" @click="saveSettings()">Save Settings</b-button>
        <b-button type="is-warning is-light" @click="resetSettings()">Reset Settings</b-button>
      </section>
    </div>
  </div>
</div>