$pink-lace: #ffd6ffff;
$mauve: #e7c6ffff;
$maximum-blue-purple: #c8b6ffff;
$lavender-blue: #b8c0ffff;
$lavender-blue-2: #bbd0ffff;
$bg: #fbfbfb;

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  outline: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

#topbar {
  position: absolute;
  top: 0;
  left: 90px;
  width: calc(100vw - 90px);
  height: 22px;
  background-color: $pink-lace;
  -webkit-app-region: drag;
}

#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 90px;
  background-color: $mauve;

  -webkit-app-region: drag;

  .router-link {
    all:initial;
  }

  .links {
    margin-top: 22px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;

    .router-link {

      color: #947FA3;
      cursor: pointer;
      transition: color 100ms ease-in-out;
      -webkit-app-region: no-drag;

      &:not(:first-child) {
        margin-top: 16px;
      }

      .icon {
        width: 48px;
        height: 48px;

        svg {
          width: 48px;
          height: 48px;
        }

      }

      &.router-link-active {
        color: #2E2833;
      }

      &:not(.router-link-active):hover {
        color: #5C4F66;
      }

    }
    
  }
}

#main {
  position: absolute;
  top: 22px;
  left: 90px;
  background-color: $bg;
  width: calc(100vw - 90px);
  height: calc(100vh - 22px);
}