@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
  outline: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: overlay;
}

::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 11px 11px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 0 11px 11px rgba(0, 0, 0, 0.05);
  border: solid 2px transparent;
  border-radius: 11px;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 11px 11px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 11px 11px rgba(0, 0, 0, 0.1);
  border: solid 2px transparent;
  border-radius: 11px;
}

::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: inset 0 0 11px 11px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 11px 11px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-button {
  display: none;
}

#topbar {
  position: absolute;
  top: 0;
  left: 90px;
  width: calc(100vw - 90px);
  height: 22px;
  background-color: #ffd6ffff;
  -webkit-app-region: drag;
}

#topbar .title {
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  padding-left: 4px;
}

#topbar .quit {
  position: absolute;
  top: 0;
  right: 0;
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(255, 255, 255, 0.2);
  height: 22px;
  width: 40px;
  -webkit-app-region: no-drag;
  -webkit-transition: color 100ms ease-in-out, background-color 100ms ease-in-out;
  transition: color 100ms ease-in-out, background-color 100ms ease-in-out;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#topbar .quit:hover {
  background-color: #d51425;
  color: white;
}

#topbar .quit .icon {
  width: 22px;
  height: 22px;
}

#topbar .quit .icon svg {
  width: 22px;
  height: 22px;
}

#sidebar {
  height: 100vh;
  width: 90px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e7c6ffff;
}

#sidebar .container {
  height: 100vh;
  width: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-app-region: drag;
}

#sidebar .container .links .links-container {
  margin-top: 16px;
  width: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#sidebar .container .links .links-container .router-link {
  color: #947fa3;
  cursor: pointer;
  -webkit-transition: color 100ms ease-in-out;
  transition: color 100ms ease-in-out;
  -webkit-app-region: no-drag;
}

#sidebar .container .links .links-container .router-link:not(:first-child) {
  margin-top: 16px;
}

#sidebar .container .links .links-container .router-link .icon {
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sidebar .container .links .links-container .router-link .icon svg {
  width: 48px;
  height: 48px;
}

#sidebar .container .links .links-container .router-link .icon.small svg {
  width: 32px;
  height: 32px;
}

#sidebar .container .links .links-container .router-link.router-link-exact-active {
  color: #2e2833;
}

#sidebar .container .links .links-container .router-link:not(.router-link-exact-active):hover {
  color: #5c4f66;
}

#sidebar .container .logo {
  color: #2e2833;
  background-color: rgba(255, 255, 255, 0.1);
}

#sidebar .container .logo .logo-container {
  margin-top: 16px;
  margin-bottom: 16px;
  width: 90px;
  height: 128px;
}

#sidebar .container .logo .logo-container svg {
  width: 90px;
  height: 128px;
}

#content {
  position: absolute;
  top: 22px;
  left: 90px;
  background-color: #fdfdfd;
  max-width: calc(100vw - 90px);
  max-height: calc(100vh - 22px);
  width: 100%;
  height: 100%;
}

#content .container {
  padding-left: 16px;
  padding-top: 16px;
}
