@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

$pink-lace: #ffd6ffff;
$mauve: #e7c6ffff;
$maximum-blue-purple: #c8b6ffff;
$lavender-blue: #b8c0ffff;
$lavender-blue-2: #bbd0ffff;
$bg: #fdfdfd;

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  outline: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: overlay;
}

::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 11px 11px rgba(0, 0, 0, 0.05);
  border: solid 2px transparent;
  border-radius: 11px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 11px 11px rgba(0, 0, 0, 0.1);
  border: solid 2px transparent;
  border-radius: 11px;
}

::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 11px 11px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-button {
  display: none;
}

#topbar {
  position: absolute;
  top: 0;
  left: 90px;
  width: calc(100vw - 90px);
  height: 22px;
  background-color: $pink-lace;
  -webkit-app-region: drag;

  .title {
    font-family: "Comfortaa", cursive;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    padding-left: 4px;
  }

  .quit {
    position: absolute;
    top: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(255, 255, 255, 0.2);
    height: 22px;
    width: 40px;

    -webkit-app-region: no-drag;

    transition: color 100ms ease-in-out, background-color 100ms ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: #d51425;
      color: white;
    }

    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      width: 22px;
      height: 22px;

      svg {
        width: 22px;
        height: 22px;
      }
    }
  }
}

#sidebar {
  height: 100vh;
  width: 90px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $mauve;
  .container {
    height: 100vh;
    width: 90px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    -webkit-app-region: drag;

    .links {
      .links-container {
        margin-top: 16px;
        width: 90px;
        display: flex;
        align-items: center;
        flex-direction: column;

        .router-link {
          color: #947fa3;
          cursor: pointer;
          transition: color 100ms ease-in-out;
          -webkit-app-region: no-drag;

          &:not(:first-child) {
            margin-top: 16px;
          }

          .icon {
            width: 48px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
              width: 48px;
              height: 48px;
            }

            &.small {
              svg {
                width: 32px;
                height: 32px;
              }
            }
          }

          &.router-link-exact-active {
            color: #2e2833;
          }

          &:not(.router-link-exact-active):hover {
            color: #5c4f66;
          }
        }
      }
    }

    .logo {
      color: #2e2833;
      background-color: rgba(255, 255, 255, 0.1);
      .logo-container {
        margin-top: 16px;
        margin-bottom: 16px;
        width: 90px;
        height: 128px;

        svg {
          width: 90px;
          height: 128px;
        }
      }
    }
  }
}

#content {
  position: absolute;
  top: 22px;
  left: 90px;
  background-color: $bg;
  max-width: calc(100vw - 90px);
  max-height: calc(100vh - 22px);
  width: 100%;
  height: 100%;

  .container {
    padding-left: 16px;
    padding-top: 16px;
  }
}